@font-face {font-family: 'Pangram-Light';src: url('../fonts/Pangram-Light.otf');}
@font-face {font-family: 'Pangram-Regular';src: url('../fonts/Pangram-Regular.otf');}
@font-face {font-family: 'Pangram-Medium';src: url('../fonts/Pangram-Medium.otf');}
@font-face {font-family: 'Pangram-Bold';src: url('../fonts/Pangram-Bold.otf');}
@font-face {font-family: 'Pangram-ExtraBold';src: url('../fonts/Pangram-ExtraBold.otf');}

p, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

a:active, a:hover, input {
  outline: 0; }

body {
	margin: 0;
	padding: 0;
}

/*--------------------------------------HOME PAGE START*/

.home-1 {
    width: 1000px;
    margin: 0 auto;
    display: block;
}
.nav-menu {
    font-family: Pangram-Regular;
    font-weight: 500;
    margin: 85px auto 0 auto;
    display: table;
}
.nav-menu a {
    float: left;
    margin: 0;
    padding: 10px 50px;
    border: 1px solid #2F9DF2;
    color: #2F9DF2;
    text-decoration: none;
    transition: all 0.2s ease;
}
.nav-menu a:hover {
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.03)
}
.nav-menu .nav-l.selected {
    color: #fff;
    background: #2F9DF2;
}
.nav-menu .nav-l:nth-child(1) {
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
}
.nav-menu .nav-l:nth-child(2) {
    border-left: none;
    border-right: none;
}
.nav-menu .nav-l:nth-child(4) {
    border-left: none;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
}

.nav-menu .user-l {
    margin-left: 95px;
    font-family: Pangram-Bold;
    border-color: #858585;
    border-radius: 22px;
    color: #858585;
    padding: 10px 85px 10px 40px;
    background-image: url(../img/dropdown-arrow-gray-64px.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 16px;
}

.go-menu {
    margin:  235px auto 0 auto;
    display: table;
    width: 932px;
}
.bl1, .bl2, .bl3 {
    font-family: Pangram-Regular;
    font-size: 24px;
    width: 268px;
    margin: 50px 0 0 0;
    display: inline-block;
    text-align: center;
}
.bl1 {margin-right: 60px;}
.bl2 {margin-right: 60px;}
.go-menu a {color: #858585;text-decoration: none;}


#circle-1{width: 268px;height: 268px; border-radius: 50%; background: #2F9DF2; float: left; margin-right:  60px; background-image: url(../img/icons/Path%2022.png); background-repeat: no-repeat; background-position: center; transition: all 0.2s ease;}
#circle-2{width: 268px;height: 268px; border-radius: 50%; background: #FFD500; float: left; margin-right:  60px; background-image: url(../img/icons/Path%2021.png); background-repeat: no-repeat; background-position: center; transition: all 0.2s ease;}
#circle-3{width: 268px;height: 268px; border-radius: 50%; background: #06D6D6; float: left;background-image: url(../img/icons/Union%208.png); background-repeat: no-repeat; background-position: center; transition: all 0.2s ease;}

#circle-1:hover,
#circle-2:hover,
#circle-3:hover {
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.1)
}

/* --------------------------------- HOME PAGE END*/
